:root{
    --red-color: #e6403e;
}
.home-header-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 40px;
}
.header-title{
    width: 100%;

    color: #FFF;
    font-size: 70px;
}
.subheader-title{
    width: 100%;
    margin-top: -20px;

    color: rgb(185, 179, 179);
    font-size: 35px;
}
.btn-signup{
    width: 200px;
    margin-top: 10px;
    padding: 11px;
    padding-right: 30px; padding-left: 30px;

    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid var(--red-color);
    background: none;
}
.btn-signup:hover{
    cursor: pointer;
    background: var(--red-color);
}

@media only screen and (max-width: 800px) {
    .home-header-container{
        width: 90%;
        margin-top: 0;
    }
    .header-title{
        font-size: 50px;
    }
    .subheader-title{
        font-size: 25px;
    }
    .btn-signup{
        width: 150px;
    }
  }