:root{
    --red-color: #c34d4a;
}
body{
    min-height: 50vh;
    overflow-x: hidden;
    background-color: #333333; 
}
.nav-stripped{
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-top: 20px;
}
.logo-image{
    float: left;
  
    color: #ffffff; 
    text-decoration: none; 
    font-size: 20px; 
}
.btn-return{
    float: right;
    padding-right: 40px;

    font-size: 28px;
    font-weight: bold;
    color: rgb(141, 138, 138);
}
.btn-return:hover{
    cursor: pointer;
    color: #FFF;
}
.login-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 0px;
    padding-left: 40px;
}
.header-title{
    width: 100%;
    margin-bottom: 40px;

    color: #FFF;
    font-size: 60px;
}
.input-login{
    width: 80%;
    max-width: 500px;
    height: 15px;
    padding: 20px;
    display: block;
    margin-bottom: 12px;
  
    border-radius: 10px;
    border: none;
    background: #242323;
    color: #FFF;
    font-size: 20px;
    outline: none;
}
.btn-submit{
    width: 200px;
    float: left;
    margin-top: 10px;
    padding: 11px;
    padding-right: 30px; padding-left: 30px;

    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid var(--red-color);
    background: none;
}
.btn-submit:hover{
    cursor: pointer;
    background: var(--red-color);
}
.toggle-login{
    color: #e27876;
}
.toggle-login:hover {
    cursor: pointer;
    color: #FFF;
}

p{
    display: block;
    float: left;
    margin-left: 40px;    
    padding: 5px;

    color: #FFF;
}



@media only screen and (max-width: 800px) {
    .nav-stripped{
        width: 90%;
    }
    .login-container{
        width: 95%;
    }
    .header-title{
        font-size: 50px;
    }
    .btn-submit{
        width: 150px;
    }
    p{
        margin-left: 20px;

        font-size: 14px;
    }
  }